.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery li{
    box-sizing: border-box;
}

.gallery img{
    height: 100px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
